<% layout("layouts/boilerplate.ejs") %> 
<div class="row vh-100 align-items-center" >
    <div class="col-6 offset-3 " style="word-break: break-word">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading"><%= err.message %> </h4>
            <% if (process.env.NODE_ENV !== "production"){ %>
                <p><%= err.stack %></p>
           <% } %>
        </div>
    </div>
</div>
