
<% layout("layouts/boilerplate.ejs") %> 
<div class="row">
    <h1 class="text-center mt-5">New Campground</h1>
    <div class="col col-xs-9 col-md-6 offset-md-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-lable">Title</label>
                <input class="form-control" id="title" type="text" name="campground[title]" placeholder="name" required> 
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-lable">Location</label>
                <input type="text" class="form-control" id="location" name="campground[location]" placeholder="location" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Image</label>
                <input class="form-control" type="file" id="formFileMultiple" name="image" multiple>
            </div>
            <div>
                <label for="price">Campground Price</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">$</span>
                    <span class="input-group-text">0.00</span>
                    <input id="price" type="text" class="form-control" name="campground[price]" aria-label="price" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>    
            </div> 
            <div class="mb-3">
                <label for="description" class="form-lable">Description</label> 
                <textarea class="form-control" id="description" name="campground[description]" row="5" placeholder="description" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>                    
            <div class="bm-3">
                <button class="btn btn-primary px-4">ADD</button> 
            </div>
        </form>
        <div>
            <a href="/campgrounds">CANCEL</a>
        </div>
    </div>
</div>
