<% layout("layouts/boilerplate.ejs") %> 

<form action="/signup" method="POST" class="validated-form d-flex align-items-center mt-5"  novalidate> 
  <div class="col col-md-6 offset-md-3 col-lg-4 offset-lg-4">
    <div class="mb-3 mt-4">
      <label for="username" class="form-label">Username</label>
      <input type="string" class="form-control" id="username" name="user[username]" autofocus required>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="user[email]" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="user[password]" required>
    </div>

    <button type="submit" class="btn btn-primary px-3">Submit</button>
  </div>
</form>